.App {
  font-family: sans-serif;
  text-align: center;
}

.tab {
  display: flex;
}
.tab-item {
  border: 1px solid black;
  padding: 5px;
  margin: 0;
}
.tab-content {
  border: 1px solid black;
  height: 250px;
  padding: 8px;
}
.profile-fields {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.settings {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.interests {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.error {
  color: red;
  margin: 0;
}
p {
  font-size: 15px;
}
btn-div {
  display: flex;
  gap: 10px;
}
